@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  /* text-align: center; */
  font-family: "Roboto";
  font-size: medium;
}

.only-content {
  padding: 0;
  margin: 0;
}

